//Selecting nth child of any element
//=child($n)
//	&:nth-child(#{$n})
//		background-color: red

// Elements SASS mixin koji nam mijenja &__ tako da to ne moramo uvjek pisati
// Mixin se u SASS-u definira pomocu '=',a u SCSS sa @mixin
=element($element)
	&__#{$element}
		@content

// Modifier -- SASS mixin koji nam mijenja &-- tako da to ne moramo uvjek pisati
=modifier($modifier)
	&--#{$modifier}
		@content

//Common mixin
@mixin flexbox
	display: flex
	align-items: center
	justify-content: center

@mixin profile-icons
	font-size: 1.5em
	margin-right: 5px
	color: #aaa

@mixin edit-icon
	font-size: 1.1em
	color: #727f88

@mixin edit-btn
	width: 35px
	height: 35px
	border: none
	background-color: #ecf1f5
	cursor: pointer
	transition: background-color 400ms ease-in

	&:hover,
	&:focus
		outline: none
		background-color: $main-blue

	&:hover > .ion-edit,
	&:focus > .ion-edit
		color: white

@mixin inline-flexbox
	display: inline-flex
	align-items: center
	justify-content: center

@mixin fieldLabel
	&:focus + label,
	&[value=""] + label
		font-size: .7em
		transform: translateY(-45px)
		color: #aaa
