.content
  min-height: 250px
  height: auto
  margin-bottom: 30px
  padding: 20px
  border-top: 1px solid #d5dfea
  border-bottom: 1px solid #d5dfea
  background: white

  +element('page')
    display: none
    animation: fadeEffect 1s

    &.active
      display: block

    +element('header')
      @include flexbox
      justify-content: space-between

      +element('title')
        color: #888

      +element('btn')
        width: 30px
        height: 30px
        border: none
        background-color: #ecf1f5
        transition: background-color 400ms ease-in

        &:hover,
        &:focus
          outline: none
          background-color: $main-blue

        &:hover > .ion-edit,
        &:focus > .ion-edit
          color: white

        +element('icon')
          font-size: 1.5em
          color: #727f88

      +element('cta')
        display: none
        font-size: .9em
        font-weight: 600
        border: none
        text-transform: uppercase
        background-color: transparent
        color: $main-blue

        &#cancel-btn
          transform: translateX(35px)

    +element('body')
      margin-top: 15px

      & > #aboutInfo
        flex-direction: column

      & > #aboutForm
        display: none

      +element('title')
        position: relative
        z-index: 1
        @include flexbox
        justify-content: flex-start

        +element('text')
          height: 35px
          padding-right: 10px
          font-size: 1.1em
          font-weight: 600

        +element('btn')
          @include edit-btn
          display: none

          +element('icon')
            @include edit-icon

      +element('web')
        position: relative
        z-index: 1
        margin-top: 5px

        +element('icon')
          @include profile-icons
          font-size: 1.2em

        +element('text')
          padding-right: 20px
          font-size: .9em
          font-weight: 600

        +element('btn')
          @include edit-btn
          display: none

          +element('icon')
            @include edit-icon

      +element('phone')
        position: relative
        z-index: 1
        margin: 5px 0

        +element('icon')
          @include profile-icons
          font-size: 1.2em

        +element('text')
          padding-right: 20px
          font-size: .9em
          font-weight: 600

        +element('btn')
          @include edit-btn
          display: none

          +element('icon')
            @include edit-icon

      +element('location')
        position: relative
        z-index: 1

        +element('icon')
          @include profile-icons
          font-size: 1.2em

        +element('text')
          padding-right: 20px
          font-size: .9em
          font-weight: 600

        +element('btn')
          @include edit-btn
          display: none

          +element('icon')
            @include edit-icon

      +element('popup')
        display: none !important
        position: absolute
        top: 0
        left: 100%
        z-index: 2
        width: 250px
        height: 125px
        padding: 20px
        border-radius: 3px
        box-shadow: 0 0 10px 3px #d5dfea

        &::before
          position: absolute
          top: 10px
          left: -5px
          content: ''
          display: block
          width: 15px
          height: 15px
          transform: rotate(45deg)
          z-index: 0
          background-color: white

        +element('group')
          @include flexbox
          flex-wrap: wrap
          align-items: flex-end
          height: 50%

          +element('input')
            width: 100%
            height: 40px
            padding-top: 10px
            border: none
            border-bottom: 2px solid #ecf1f5
            font-size: .95em
            color: $text-color
            transition: border-color 400ms ease-in

            &:focus
              outline: none
              border-color: $main-blue

            &:focus + label,
            &:not(:placeholder-shown) + label
              font-size: .7em
              transform: translateY(-45px)
              color: #aaa

          +element('label')
            width: 100%
            text-transform: uppercase
            transform: translateY(-25px)
            transition: all 400ms ease-in

        +element('actions')
          margin-top: 20px

          +element('cta')
            width: 80px
            height: 30px
            margin-right: 10px
            font-weight: 700
            text-transform: uppercase
            border: none
            background-color: transparent
            border: 1px solid $main-blue
            border-radius: 3px
            cursor: pointer

            &:first-child
              background-color: $main-blue
              color: white

            &:last-child
              color: $main-blue

      //About form
      +element('form')
        margin-top: 35px

        +element('group')
          @include flexbox
          flex-wrap: wrap
          justify-content: flex-start
          height: 50px

          +element('input')
            width: 100%
            padding-bottom: 2px
            border: none
            border-bottom: 2px solid #ecf1f5
            font-size: .95em
            color: $text-color
            transition: border-color 400ms ease-in

            &:focus
              outline: none
              border-color: $main-blue

            &:focus + label,
            &:not(:placeholder-shown) + label
              font-size: .7em
              transform: translateY(-50px)
              color: #aaa

          +element('label')
            width: 100%
            text-transform: uppercase
            transform: translateY(-30px)
            transition: all 400ms ease-in
