.header
  grid-column: span 1
  grid-row: span 1

  +element('card')

    //Logout button
    +element('btn')
      position: relative
      @include flexbox
      justify-content: flex-end
      height: 50px

      +element('cta')
        width: 70px
        height: 40px
        margin-right: 15px
        font-weight: 700
        text-transform: uppercase
        border: none
        background-color: transparent
        color: $main-blue

      +element('menu')
        position: absolute
        top: 60px
        right: 15px
        display: none
        width: 150px
        height: 70px
        font-weight: 700
        text-transform: uppercase
        border: 1px solid #eee
        border-radius: 3px
        box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1)
        background-color: white
        color: $main-blue

        +element('list')
          display: flex
          flex-direction: column
          text-align: center
          padding: 0
          list-style-type: none

          & > li:hover
            cursor: pointer
            background-color: #eee

        &.menu-open
          display: block

    //Upload image btn
    +element('form')
      @include flexbox
      height: 50px
      margin: 0 auto
      display: none

      +element('label')
        @include flexbox
        width: 200px
        height: 45px
        margin: 0 auto
        border: 1px solid #eee
        border-radius: 3px
        font-size: .9em
        cursor: pointer
        background-color: transparent
        color: #888
        transition: border-color 400ms ease-in-out

        &:hover
          border-color: $main-blue

        +element('icon')
          font-size: 2em
          margin-right: 10px
          color: #cfdce5

      +element('upload')
        display: none


    //Profile image
    +element('img')
      @include flexbox
      height: 200px

      +element('item')
        width: 145px
        height: 145px
        background: url('../images/users/mobile/profile_image-mobile.jpg') center/cover no-repeat
        box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1)

    //Info box
    +element('info')
      padding: 0 20px

      +element('leftbox')
        margin-bottom: 5px

        +element('title')
          margin-bottom: 10px
          font-size: 1.25em
          font-weight: 600
          text-align: center

        +element('phone')
          font-size: .8em

          +modifier('icon')
            @include profile-icons

        +element('location')
          font-size: .8em

          +modifier('icon')
            @include profile-icons


      +element('rightbox')
        margin-bottom: 10px

        +element('reviews')

          +element('stars')
            font-size: 1.4em
            color: $main-blue

            +modifier('item')

          +element('count')

            +element('text')
              font-size: .8em

              +modifier('number')
                margin-right: 10px
                font-size: 1.1em
                font-weight: 600

    +element('followers')
      margin-bottom: 10px
      padding: 0 20px

      +element('popup')
        position: absolute
        top: 330px
        right: 200px
        display: none
        width: 130px
        height: 30px
        padding: 4px
        text-align: center
        border: 1px solid #eee
        border-radius: 3px
        box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1)
        color: $main-blue
        background-color: white

        &.popup-open
          display: block

      +element('text')
        position: relative
        display: flex
        align-items: center
        font-size: .8em

        +modifier('icon')
          margin-right: 5px
          font-size: 1.8em
          color: #a7b0b7

        +modifier('number')
          margin-right: 5px
          font-size: 1.1em
          font-weight: 600
