<div id="aboutForm">
  <form class="content__page__body__form" action="#" method="post" id="profileInfoForm" autocomplete="off">
    <div class="content__page__body__form__group">
      <input type="text" name="firstName" id="firstName" class="content__page__body__form__group__input" placeholder=" " value="" required>
      <label for="firstName" class="content__page__body__form__group__label">First Name</label>
    </div>

    <div class="content__page__body__form__group">
      <input type="text" name="lastName" id="lastName" class="content__page__body__form__group__input" placeholder=" " value="" required>
      <label for="lastName" class="content__page__body__form__group__label">Last Name</label>
    </div>

    <div class="content__page__body__form__group">
      <input type="url" name="website" id="website" class="content__page__body__form__group__input" title="Include http://" placeholder=" " value="" required>
      <label for="website" class="content__page__body__form__group__label">Website</label>
    </div>

    <div class="content__page__body__form__group">
      <input type="tel" name="phone" id="phone" class="content__page__body__form__group__input" placeholder=" " value="" required>
      <label for="phone" class="content__page__body__form__group__label">Phone Number</label>
    </div>

    <div class="content__page__body__form__group">
      <input type="text" name="location" id="location" class="content__page__body__form__group__input" placeholder=" " value="" required>
      <label for="location" class="content__page__body__form__group__label">City, State & Zip</label>
    </div>
  </form>
</div>
