<div id="aboutInfo">
  <div class="content__page__body__title">
    <span class="content__page__body__title__text" id="aboutTitle" data-fieldname="title"></span>
    <button type="button" name="button" class="content__page__body__title__btn">
      <i class="ion-edit content__page__body__title__btn__icon"></i>
    </button>

    <div class="content__page__body__popup" id="popup-1">
      <div class="content__page__body__popup__group">
        <input type="text" name="title" id="title-popup" class="content__page__body__popup__group__input" placeholder=" " value="" required>
        <label for="title-popup" class="content__page__body__popup__group__label">Title</label>
      </div>
      <div class="content__page__body__popup__actions">
        <button type="button" name="button" class="content__page__body__popup__actions__cta save" data-popupid="1" data-inputid="title-popup">Save</button>
        <button type="button" name="button" class="content__page__body__popup__actions__cta cancel" data-popupid="1">Cancel</button>
      </div>
    </div>
  </div>

  <div class="content__page__body__web">
    <i class="ion-android-globe content__page__body__web__icon"></i>
    <span class="content__page__body__web__text" id="aboutWeb" data-fieldname="website"></span>
    <button type="button" name="button" class="content__page__body__web__btn">
      <i class="ion-edit content__page__body__web__btn__icon"></i>
    </button>

    <div class="content__page__body__popup" id="popup-2">
      <div class="content__page__body__popup__group">
        <input type="url" name="website" id="web-popup" class="content__page__body__popup__group__input" title="Include http://" placeholder=" " value="" required>
        <label for="web-popup" class="content__page__body__popup__group__label">Website</label>
      </div>
      <div class="content__page__body__popup__actions">
        <button type="button" name="button" class="content__page__body__popup__actions__cta save" data-popupid="2" data-inputid="web-popup">Save</button>
        <button type="button" name="button" class="content__page__body__popup__actions__cta cancel" data-popupid="2">Cancel</button>
      </div>
    </div>
  </div>

  <div class="content__page__body__phone">
    <i class="ion-ios-telephone-outline content__page__body__phone__icon"></i>
    <span class="content__page__body__phone__text" id="aboutPhone" data-fieldname="phone"></span>
    <button type="button" name="button" class="content__page__body__phone__btn">
      <i class="ion-edit content__page__body__phone__btn__icon"></i>
    </button>

    <div class="content__page__body__popup" id="popup-3">
      <div class="content__page__body__popup__group">
        <input type="tel" name="phone" id="phone-popup" class="content__page__body__popup__group__input" placeholder=" " value="" required>
        <label for="phone-popup" class="content__page__body__popup__group__label">Phone Number</label>
      </div>
      <div class="content__page__body__popup__actions">
        <button type="button" name="button" class="content__page__body__popup__actions__cta save" data-popupid="3" data-inputid="phone-popup">Save</button>
        <button type="button" name="button" class="content__page__body__popup__actions__cta cancel" data-popupid="3">Cancel</button>
      </div>
    </div>
  </div>

  <div class="content__page__body__location">
    <i class="ion-ios-home-outline content__page__body__location__icon"></i>
    <span class="content__page__body__location__text" id="aboutLocation" data-fieldname="location"></span>
    <button type="button" name="button" class="content__page__body__location__btn">
      <i class="ion-edit content__page__body__location__btn__icon"></i>
    </button>

    <div class="content__page__body__popup" id="popup-4">
      <div class="content__page__body__popup__group">
        <input type="text" name="location" id="location-popup" class="content__page__body__popup__group__input" placeholder=" " value="" required>
        <label for="location-popup" class="content__page__body__popup__group__label">City, Sate & Zip</label>
      </div>
      <div class="content__page__body__popup__actions">
        <button type="button" name="button" class="content__page__body__popup__actions__cta save" data-popupid="4" data-inputid="location-popup">Save</button>
        <button type="button" name="button" class="content__page__body__popup__actions__cta cancel" data-popupid="4">Cancel</button>
      </div>
    </div>
  </div>
</div>
