.header

  +element('nav')
    max-width: 320px
    width: 100%
    height: 50px
    padding: 0 20px
    box-shadow: 0 0 5px 1px #d5dfea

    &#desktopNav
      display: none
      
    +element('track')
      height: 100%

      +element('list')
        height: 100%

        +element('item')
          display: inline-flex
          justify-content: center
          align-items: center
          width: 100%
          height: 100%
          font-size: .9em
          font-weight: 600
          text-transform: uppercase
          text-decoration: none
          color: $text-color
          border-bottom: 2px solid transparent
          transition: border-color 400ms ease-in-out

          &.glide__slide--active
            border-color: $main-blue

          &.active
            border-color: $main-blue !important
