<header class="header">
  <div class="header__card">
    <div class="header__card__btn">
      <button type="button" name="button" class="header__card__btn__cta">Log Out</button>

      <div class="header__card__btn__menu" id="header-card-menu">
        <ul class="header__card__btn__menu__list" id="header-card-list">
          <li id="header-card-list-item">Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </div>
    </div>

    <div class="header__card__form">
      <form class="" action="" method="post">
        <label for="imageFile" class="header__card__form__label">
          <i class="ion-ios-camera header__card__form__label__icon"></i>
          Upload Cover Image
        </label>
        <input type="file" name="image-file" id="imageFile" value="" class="header__card__form__upload">
      </form>
    </div>

    <div class="header__card__img">
      <div class="header__card__img__item"></div>
    </div>

    <div class="header__card__info">
      <div class="header__card__info__leftbox">
        <h1 class="header__card__info__leftbox__title" id="headerInfoTitle" data-fieldname="title"></h1>
        <p class="header__card__info__leftbox__phone">
          <i class="ion-ios-telephone-outline header__card__info__leftbox__phone--icon"></i>
          <span class="header__card__info__leftbox__phone__text" id="headerInfoPhone" data-fieldname="phone"></span>
        </p>
        <p class="header__card__info__leftbox__location">
          <i class="ion-ios-location-outline header__card__info__leftbox__location--icon"></i>
          <span class="header__card__info__leftbox__location__text" id="headerInfoLocation" data-fieldname="location"></span>
        </p>
      </div>
      <div class="header__card__info__rightbox">
        <div class="header__card__info__rightbox__reviews">
          <div class="header__card__info__rightbox__reviews__stars">
            <i class="ion-android-star header__card__info__rightbox__reviews__stars--item"></i>
            <i class="ion-android-star header__card__info__rightbox__reviews__stars--item"></i>
            <i class="ion-android-star header__card__info__rightbox__reviews__stars--item"></i>
            <i class="ion-android-star header__card__info__rightbox__reviews__stars--item"></i>
            <i class="ion-android-star-outline header__card__info__rightbox__reviews__stars--item"></i>
          </div>
          <div class="header__card__info__rightbox__reviews__count">
            <p class="header__card__info__rightbox__reviews__count__text">
              <span class="header__card__info__rightbox__reviews__count__text--number">6</span>
              Reviews
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="header__card__followers" id="mobileNavFollowers">
      <p class="header__card__followers__text">
        <i class="ion-ios-plus header__card__followers__text--icon"></i>
        <span class="header__card__followers__text--number">15</span>
        Followers
      </p>
    </div>

    <!--Include navigation-->
    ${require('./navigation.html')}
  </div>
</header>
