<nav class="glide header__nav" id="mobileNav">
  <div class="glide__track header__nav__track" data-glide-el="track">
    <ul class="glide__slides header__nav__track__list">
      <li class="glide__slide header__nav__track__list__item active" data-link-name="about">About</li>
      <li class="glide__slide header__nav__track__list__item" data-link-name="settings">Settings</li>
      <li class="glide__slide header__nav__track__list__item" data-link-name="option-1">Option 1</li>
      <li class="glide__slide header__nav__track__list__item" data-link-name="option-2">Option 2</li>
      <li class="glide__slide header__nav__track__list__item" data-link-name="option-3">Option 3</li>
    </ul>
  </div>
</nav>

<nav class="header__nav" id="desktopNav">
  <ul class="header__nav__track__list">
    <li class="header__nav__track__list__item--desktop active" data-link-name="about">About</li>
    <li class="header__nav__track__list__item--desktop" data-link-name="settings">Settings</li>
    <li class="header__nav__track__list__item--desktop" data-link-name="option-1">Option 1</li>
    <li class="header__nav__track__list__item--desktop" data-link-name="option-2">Option 2</li>
    <li class="header__nav__track__list__item--desktop" data-link-name="option-3">Option 3</li>
  </ul>

  <div class="header__card__followers">
    <span class="header__card__followers__popup">Add Followers</span>
    <p class="header__card__followers__text" id="desktopNavFollowers">
      <i class="ion-ios-plus header__card__followers__text--icon"></i>
      <span class="header__card__followers__text--number">15</span>
      Followers
    </p>
  </div>
</nav>
