<div id="about" class="content__page active">
  <div class="content__page__header">
    <h2 class="content__page__header__title">About</h2>
    <button type="button" name="button" class="content__page__header__btn">
      <i class="ion-edit content__page__header__btn__icon"></i>
    </button>

    <button type="button" name="button" class="content__page__header__cta" id="cancel-btn">Cancel</button>
    <button type="submit" name="button" class="content__page__header__cta" id="save-btn" form="profileInfoForm">Save</button>
  </div>

  <div class="content__page__body">
    ${require('./pagepartials/about-info.html')}
    ${require('./pagepartials/about-form.html')}
  </div>
</div>
