// All elemets
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  scroll-behavior: smooth

// Basic Styles
html, body
    //width: calc(100vw - 12px)
    //height: 100vh

body
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  background-color: $bg-bodyColor
  color: $text-color
