@media only screen and (min-width: 375px)
  .header__nav
    max-width: 375px

@media only screen and (min-width: 425px)
  .header__nav
    max-width: 425px

@media only screen and (min-width: 768px)
  .app
    width: 70%
    height: 100vh
    margin: 0 auto
    grid-template-rows: 405px 1fr

  .header

    +element('nav')
      justify-content: space-between
      overflow: hidden

      &#mobileNav
        display: none

      &#desktopNav
        display: flex
        max-width: none
        width: 100%

      +element('track')
        +element('list')
          max-width: none
          width: calc(100% - 100px)
          margin-left: 175px

          +element('item')

            +modifier('desktop')
              display: inline-flex
              justify-content: center
              align-items: center
              width: 50px
              height: 100%
              font-size: .6em
              font-weight: 600
              text-transform: uppercase
              text-decoration: none
              color: $text-color
              border-bottom: 2px solid transparent
              cursor: pointer
              transition: border-color 400ms ease-in-out, background-color 400ms ease-in-out, color 400ms ease-in-out

              &:hover
                color: $main-blue
                background-color: #eee

              &.active
                border-color: $main-blue !important

    +element('card')
      @include flexbox
      flex-flow: wrap
      margin-top: 50px
      background-color: white

      +element('btn')
        width: 100%
        margin-top: 10px

        +element('cta')
          width: 100px
          height: 35px
          border: 1px solid $main-blue
          border-radius: 4px
          cursor: pointer
          transition: all 400ms ease-in-out

          &:hover
            color: white
            background-color: $main-blue

      +element('form')
        display: block
        width: 100%

      +element('img')
        width: 195px
        height: 195px
        transform: translateY(25px)

        +element('item')
          width: 160px
          height: 160px
          background: url('../images/users/desktop/profile_image-desktop.jpg') center/cover no-repeat

      +element('info')
        @include flexbox
        width: calc(100% - 195px)
        padding-left: 0

        +element('leftbox')
          @include flexbox
          flex-wrap: wrap
          justify-content: flex-start
          width: 50%

          +element('title')
            width: 100%
            order: 1
            text-align: left

          +element('phone')
            width: 100%
            order: 3

          +element('location')
            width: 100%
            order: 2

        +element('rightbox')
          width: 50%

          +element('reviews')
            @include flexbox
            justify-content: flex-end

            +element('stars')
              font-size: .9em
              cursor: pointer
              color: #727f88

              +modifier('item')
                transition: color 400ms ease-in

                &:hover
                  color: $main-blue

            +element('count')
              margin-left: 20px

      +element('followers')
        width: 90px
        margin: 0
        padding: 0

        &#mobileNavFollowers
          display: none

        +element('text')
          width: 90px
          height: 100%
          font-size: .6em
          text-align: right

          +modifier('icon')
            cursor: pointer
            transition: color 400ms ease-in

            &:hover
              color: $main-blue

  //Content section
  .content
    height: 45vh
    border-left: 1px solid #d5dfea
    border-right: 1px solid #d5dfea

    +element('page')
      +element('header')
        +element('btn')
          display: none !important

        +element('cta')
          display: none !important

      +element('body')

        #aboutForm
          display: none !important

        #aboutInfo
          display: flex !important
          flex-flow: column
          align-items: flex-start

        +element('title')
          @include inline-flexbox
          justify-content: flex-start
          min-width: 200px
          background-color: $info-field

          +element('btn')
            display: block

        +element('popup')
          &.show
            display: block !important

        +element('web')
          @include inline-flexbox
          justify-content: flex-start
          min-width: 200px
          background-color: $info-field

          +element('btn')
            display: block

        +element('phone')
          @include inline-flexbox
          justify-content: flex-start
          min-width: 200px
          background-color: $info-field

          +element('btn')
            display: block

        +element('location')
          @include inline-flexbox
          justify-content: flex-start
          min-width: 200px
          background-color: $info-field

          +element('btn')
            display: block

@media only screen and (min-width: 1024px)
  .header

    +element('nav')
      +element('track')
        +element('list')
          +element('item')

            +modifier('desktop')
              width: 80px
              font-size: .9em

    +element('card')
      +element('info')
        +element('rightbox')
          +element('reviews')

            +element('stars')
              font-size: 1.6em

      +element('followers')
        width: 110px

        +element('text')
          width: 110px
          font-size: .8em
